{% extends 'base.html' %}
{% import '_macros.html' as macros %}

{% block head %}
    {{ super() }}
{% endblock head %}

{% block title %}outbook{% endblock %}

{% block right_navbar %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other Faculties<b class="caret"></b></a>
        <ul class="dropdown-menu">
            {% for key in sholmdl.faculties.keys() %}
            {% if sholmdl.faculties[key] != faculty %}
            <li><a href="{{ url_for('main.faculties', school=sholmdl.pinyin, faculty=sholmdl.faculties[key]) }}">
                {{key}}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
    </li>
    <li><a href="{{url_for('main.sell', school=sholmdl.pinyin, faculty=faculty)}}">Sell</a></li>
{% endblock %}


{% block page_content %}
    <div class="page-header">
        <h1>{{sholmdl.name}}-{{sholmdl.faculty_name(faculty)}}</h1>
    </div>

    {% include '_goods.html' %}
    <div class="pagination" style="position: absolute; right: 10%;margin-bottom: 100px">
        {{ macros.pagination_widget(pagination, 'main.faculties', school=sholmdl.pinyin, faculty=faculty) }}
    </div>

    <script type="text/javascript">
        var card = document.getElementsByClassName('card');
        var pagination = document.getElementsByClassName('pagination');
        pagination[0].style.top = (parseInt(card.length/4) + 1.7 )*300+ 'px';
    </script>

{% endblock page_content %}
